<header id="login">
    <!-- Background Image -->
    <div class="bg-img">
        <img class="background" src="assets/img/background.png" alt="logo" width="100%" height="100%">
    </div>
</header>
<div id="snackbar">{{message}}</div>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Change your Password?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form example-form" #formDirectisve="ngForm" role="form" autocomplete="off" id="formLogin" novalidate=""
      [formGroup]="changePasswordForm"
    (submit)='ChangePasswordDetails(changePasswordForm.value)'>
        <mat-form-field class="example-full-width">
          <input matInput maxlength="25" placeholder="Current Password" maxlength="20" formControlName="OldPassword" required>
          <mat-error *ngFor="let validation of account_validation_messages.OldPassword">
            <mat-error class="error-message" *ngIf="changePasswordForm.invalid || changePasswordForm.get('OldPassword').hasError(validation.type) && (changePasswordForm.get('OldPassword').dirty || changePasswordForm.get('OldPassword').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="New Password" maxlength="20" formControlName="NewPassword" required>
          <mat-error *ngFor="let validation of account_validation_messages.NewPassword">
            <mat-error class="error-message" *ngIf="changePasswordForm.invalid || changePasswordForm.get('NewPassword').hasError(validation.type) && (changePasswordForm.get('NewPassword').dirty || changePasswordForm.get('NewPassword').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Confirm New Password" maxlength="20" formControlName="ConfirmPassword" required>
            <mat-error *ngFor="let validation of account_validation_messages.ConfirmPassword">
              <mat-error class="error-message" *ngIf="changePasswordForm.invalid || changePasswordForm.get('ConfirmPassword').hasError(validation.type) && (changePasswordForm.get('ConfirmPassword').dirty || changePasswordForm.get('ConfirmPassword').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        <div class="button">
          <button type="submit" mat-button>Submit</button>      
        </div>
        <p id="loader" style="margin:auto;display:none;text-align: center;"><img class="loading-img" src="assets/img/load.gif" alt="loader">
      </form>     
    </mat-card-content>    
  </mat-card>
</div>
