<div style="margin: 0;">
    <div id="snackbar">{{message}}</div>
  </div>
<div fxLayout="row">
   
	<mat-drawer-container style="width: 100%;">
       
		<mat-drawer  #snav class="adminMenu" style="position: relative;"  opened [mode]="'side'">
			<mat-nav-list>
                   			
            <ul>
                <li class="activeMenu textsize" ><i class="fa fa-users fa-2x" aria-hidden="true"></i><br><a [routerLink]="['/clientreg','0']">Client</a></li>
                <li class="textsize"><i class="fa fa-industry fa-2x" aria-hidden="true"></i><br><a [routerLink]="['/vendorreg','0']">Vendor</a></li>
                <li class="textsize"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i><br><a [routerLink]="['/user']">User</a></li>
                <li class="textsize"><i class="fa fa-star fa-2x" aria-hidden="true"></i><br><a [routerLink]="['/role']">Role</a></li>
                <li class="textsize"><i class="fa fa-gavel fa-2x" aria-hidden="true"></i><br><a [routerLink]="['/rule']">Rule</a></li>
            </ul>			

          			
			</mat-nav-list>
		</mat-drawer>

   <mat-drawer-content style="margin-left:20%;">
    
        <div style="float: left;" class="adminList">
            <ul>         
                <li *ngFor="let item of clientList"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;<a [routerLink]="['/clientreg',item.MId]" (click)=getId(item.MId) (mouseover)="childlist(item.MId)">{{item.MName}}<span *ngIf="item.Sc != 0">({{item.Sc}})</span></a>
                    <ul *ngIf="item.MId == clientId && item.Sc != 0" class="childList">
                        <li *ngFor="let item of childList" style="padding-left: 25px;"> - <a [routerLink]="['/child',item.SId,1]">{{item.SName}}</a></li>
                    </ul>               
                </li>               
            </ul>
        </div>
<div style="float: left;width: 81%;">
<form class="form" role="form" focusInvalidInput autocomplete="off" id="Clientform" novalidate=""
[formGroup]="addClientForm" (submit)='addClient(addClientForm.getRawValue())'>

<div class="whiteframe" style="width: 93%;">
    <h3 *ngIf="id != 0 else title">Update Client  <span *ngIf="id != 0"> for #{{id}} - {{clientname}}</span> <span style="font-size: 13px;font-weight: normal;color: #0670c4 !important;float: right;text-decoration: underline;cursor:pointer;"><table style="padding:0px !important;"><tr style="padding:0px !important;"><td style="padding:0px !important;" [routerLink]="['/child',id,0]" (click)="getMasterId(id);">Add Child Client</td></tr></table></span></h3>
    <ng-template #title>
        <h3 *ngIf="id == 0">Add New Client</h3>
    </ng-template> 

<table style="width:100%">
    <tr> 
        <td>
            <mat-form-field>
                <input maxlength="80" required matInput placeholder="Client Name"  id="ClientName" formControlName="ClientName" class="form-control"/>               
                <mat-error *ngFor="let validation of validation_messages.ClientName">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('ClientName').hasError(validation.type) && (addClientForm.get('ClientName').dirty || addClientForm.get('ClientName').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>        
        </td>      
        <td>     
            <mat-form-field class="example-full-width">  
                <input maxlength="80" required matInput placeholder="Door No,Street" formControlName="RegdAddressL1" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.RegdAddressL1">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('RegdAddressL1').hasError(validation.type) && (addClientForm.get('RegdAddressL1').dirty || addClientForm.get('RegdAddressL1').touched)">{{validation.message}}</mat-error>
                </mat-error>
             </mat-form-field>                    
        </td>
        <td>            
            <mat-form-field>
                <input maxlength="40" required matInput placeholder="Area" formControlName="Area" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.Area">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('Area').hasError(validation.type) && (addClientForm.get('Area').dirty || addClientForm.get('Area').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>
        <td>            
            <mat-form-field>
                <select matNativeControl required maxlength="40" placeholder="City" formControlName="City"> 
                    <option *ngFor="let item of cityLookups" value="{{item.Code}}" selected>{{item.Description}}</option>                       
                </select>                  
                <mat-error *ngFor="let validation of validation_messages.City">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('City').hasError(validation.type) && (addClientForm.get('City').dirty || addClientForm.get('City').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>  
    </tr>
    <tr>
                      
        <td>            
            <mat-form-field>
                <input maxlength="6" required matInput placeholder="PINCODE" formControlName="PINCODE" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.PINCODE">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('PINCODE').hasError(validation.type) && (addClientForm.get('PINCODE').dirty || addClientForm.get('PINCODE').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="10" matInput required placeholder="Contact Number" formControlName="ClientPhoneNo" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.ClientPhoneNo">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('ClientPhoneNo').hasError(validation.type) && (addClientForm.get('ClientPhoneNo').dirty || addClientForm.get('ClientPhoneNo').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>
        <td>            
            <mat-form-field>
                <input maxlength="10" matInput required placeholder="Mobile Number" formControlName="ClientMobileNo" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.ClientMobileNo">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('ClientMobileNo').hasError(validation.type) && (addClientForm.get('ClientMobileNo').dirty || addClientForm.get('ClientMobileNo').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>                  
        <td>            
            <mat-form-field>
                <input maxlength="40" matInput required placeholder="Email Id" formControlName="ClientEMAILID" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.ClientEMAILID">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('ClientEMAILID').hasError(validation.type) && (addClientForm.get('ClientEMAILID').dirty || addClientForm.get('ClientEMAILID').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>      
    </tr>
   <tr>      
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="GST Number" formControlName="ClientGSTNo" class="form-control"/>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Land Mark" formControlName="ClientLandMark" class="form-control"/>
            </mat-form-field>
        </td>      
    </tr>
</table>
</div>
<div class="whiteframe" style="width: 93%;">
<h3>Contact Details</h3>     
<table  style="width:100%">
    <tr>
        <td>            
            <mat-form-field>
                <input maxlength="40" required matInput placeholder="Main Contact" formControlName="MainContact" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.MainContact">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('MainContact').hasError(validation.type) && (addClientForm.get('MainContact').dirty || addClientForm.get('MainContact').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>                
        <td>            
            <mat-form-field>
                <input maxlength="40" matInput placeholder="Main Designation" formControlName="MainContactDesgn" class="form-control"/>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="10" matInput placeholder="Main Contact No" formControlName="MainContactNo" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.MainContactNo">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('MainContactNo').hasError(validation.type) && (addClientForm.get('MainContactNo').dirty || addClientForm.get('MainContactNo').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="40" matInput placeholder="Main Email Id" formControlName="MainContactEmailId" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.MainContactEmailId">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('MainContactEmailId').hasError(validation.type) && (addClientForm.get('MainContactEmailId').dirty || addClientForm.get('MainContactEmailId').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>      
    </tr>
    <tr>
        <td>            
            <mat-form-field>
                <input maxlength="40" required matInput placeholder="Alternate Contact" formControlName="AltContact" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.AltContact">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('AltContact').hasError(validation.type) && (addClientForm.get('AltContact').dirty || addClientForm.get('AltContact').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>                
        <td>            
            <mat-form-field>
                <input maxlength="40" matInput placeholder="Alternate Designation" formControlName="AltContactDesgn" class="form-control"/>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="10" matInput placeholder="Alternate Contact No" formControlName="AltContactNo" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.AltContactNo">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('AltContactNo').hasError(validation.type) && (addClientForm.get('AltContactNo').dirty || addClientForm.get('AltContactNo').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="40" matInput placeholder="Alternate Email Id" formControlName="AltContactEmailId" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.AltContactEmailId">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('AltContactEmailId').hasError(validation.type) && (addClientForm.get('AltContactEmailId').dirty || addClientForm.get('AltContactEmailId').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>      
    </tr>
</table>
</div>
<div class="whiteframe" style="width: 93%;">
<h3>Other Details</h3>
<table  style="width:100%">
    <tr>
       <!-- <td>            
            <mat-form-field>
                <input maxlength="40" matInput placeholder="Client Status" formControlName="ClientStatus" class="form-control"/>
            </mat-form-field>
        </td>        -->
        <td>            
            <mat-form-field>
                <select matNativeControl required maxlength="40" placeholder="Client Category" formControlName="ClientCategory"> 
                    <option *ngFor="let item of LookupCategory" value="{{item.Code}}" selected>{{item.Description}}</option>                       
                </select>  
                <mat-error *ngFor="let validation of validation_messages.ClientCategory">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('ClientCategory').hasError(validation.type) && (addClientForm.get('ClientCategory').dirty || addClientForm.get('ClientCategory').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <select matNativeControl required maxlength="40" placeholder="Client Type" formControlName="ClientType"> 
                    <option *ngFor="let item of LookupType" value="{{item.Code}}" selected>{{item.Description}}</option>                       
                </select>
                <mat-error *ngFor="let validation of validation_messages.ClientType">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('ClientType').hasError(validation.type) && (addClientForm.get('ClientType').dirty || addClientForm.get('ClientType').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>     
       
        <td>            
            <mat-form-field>
                <input maxlength="40" matInput placeholder="Client GL Code" formControlName="ClientGLCode" class="form-control"/>
            </mat-form-field>
        </td>  
        <td>            
            <mat-form-field>
                <select matNativeControl required placeholder="Account Manager" formControlName="AccountManager"> 
                    <option *ngFor="let item of LkupAccountManager" value="{{item.Code}}" selected>{{item.Description}}</option>                       
                </select>    
                <mat-error *ngFor="let validation of validation_messages.AccountManager">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('AccountManager').hasError(validation.type) && (addClientForm.get('AccountManager').dirty || addClientForm.get('AccountManager').touched)">{{validation.message}}</mat-error>
                </mat-error>              
            </mat-form-field>
        </td>    
    </tr>
    <tr>       
        <td>            
            <mat-form-field>
                <select matNativeControl required placeholder="Coordinator" formControlName="Coordinator"> 
                    <option *ngFor="let item of LkupClient" value="{{item.Code}}" selected>{{item.Description}}</option>                       
                </select>
                <mat-error *ngFor="let validation of validation_messages.Coordinator">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('Coordinator').hasError(validation.type) && (addClientForm.get('Coordinator').dirty || addClientForm.get('Coordinator').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>   
       <!--<td *ngIf="child == 1">            
            <mat-form-field>
                <input maxlength="40" readonly id="MasterClientId" matInput placeholder="Master Client Id" formControlName="MasterClientID" class="form-control"/>
            </mat-form-field>
        </td> -->
        <td *ngIf="id != 0 && child == 0">            
            <mat-form-field>
                <select matNativeControl placeholder="Client Status" formControlName="clientstatus"> 
                    <option *ngFor="let item of LkupClientStatus" value="{{item.Code}}" selected>{{item.Description}}</option>                       
                </select>
            </mat-form-field>
        </td> 
    </tr>
    <tr>        
        <td><button *ngIf="id != 0 else add" type="submit" mat-button cdkFocusInitial>Update Client</button>
            <!--<a *ngIf="id != 0" [routerLink]="['/clientreg/0']"><button mat-button>Cancel</button></a>-->
            <ng-template #add>
                <button *ngIf="id == 0" type="submit" mat-button cdkFocusInitial>Add Client</button>
            </ng-template> 

            <!--<a [routerLink]="['/req-dashboard/OP']"><button mat-button>Cancel</button></a>-->
        </td>
    </tr>
</table>
</div>
</form>
</div>
</mat-drawer-content></mat-drawer-container></div>