
<form class="form" role="form" focusInvalidInput autocomplete="off" id="Clientform" novalidate=""
[formGroup]="addClientForm" (submit)='addClient(addClientForm.value)'>
<div class="whiteframe" style="width: 93%;">
<h3 >Client</h3>       
<table style="width:100%">
    <tr> 
        <td>
            <mat-form-field>
                <input maxlength="80" required matInput placeholder="Client Name" formControlName="ClientName" class="form-control"/>               
                <mat-error *ngFor="let validation of validation_messages.ClientName">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('ClientName').hasError(validation.type) && (addClientForm.get('ClientName').dirty || addClientForm.get('ClientName').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>        
        </td>      
        <td>     
            <mat-form-field class="example-full-width">  
                <input maxlength="80" required matInput placeholder="Door No,Street" formControlName="RegdAddressL1" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.RegdAddressL1">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('RegdAddressL1').hasError(validation.type) && (addClientForm.get('RegdAddressL1').dirty || addClientForm.get('RegdAddressL1').touched)">{{validation.message}}</mat-error>
                </mat-error>
             </mat-form-field>                    
        </td>
        <td>            
            <mat-form-field>
                <input maxlength="80" required matInput placeholder="Area" formControlName="Area" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.Area">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('Area').hasError(validation.type) && (addClientForm.get('Area').dirty || addClientForm.get('Area').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>
        <td>            
            <mat-form-field>
                <input maxlength="80" required matInput placeholder="City" formControlName="City" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.City">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('City').hasError(validation.type) && (addClientForm.get('City').dirty || addClientForm.get('City').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>  
    </tr>
    <tr>
                      
        <td>            
            <mat-form-field>
                <input maxlength="80" required matInput placeholder="PINCODE" formControlName="PINCODE" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.PINCODE">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('PINCODE').hasError(validation.type) && (addClientForm.get('PINCODE').dirty || addClientForm.get('PINCODE').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput required placeholder="Contact Number" formControlName="ClientPhoneNo" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.ClientPhoneNo">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('ClientPhoneNo').hasError(validation.type) && (addClientForm.get('ClientPhoneNo').dirty || addClientForm.get('ClientPhoneNo').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput required placeholder="Mobile Number" formControlName="ClientMobileNo" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.ClientMobileNo">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('ClientMobileNo').hasError(validation.type) && (addClientForm.get('ClientMobileNo').dirty || addClientForm.get('ClientMobileNo').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>                  
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput required placeholder="Email Id" formControlName="ClientEMAILID" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.ClientEMAILID">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('ClientEMAILID').hasError(validation.type) && (addClientForm.get('ClientEMAILID').dirty || addClientForm.get('ClientEMAILID').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>      
    </tr>
  <!-- <tr>      
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Gst Number" formControlName="ClientGSTNo" class="form-control"/>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Land Mark" formControlName="ClientLandMark" class="form-control"/>
            </mat-form-field>
        </td>      
    </tr>-->
</table>
</div>
<div class="whiteframe" style="width: 93%;">
<h3>Contact Details</h3>     
<table  style="width:100%">
    <tr>
        <td>            
            <mat-form-field>
                <input maxlength="80" required matInput placeholder="Main Contact" formControlName="MainContact" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.MainContact">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('MainContact').hasError(validation.type) && (addClientForm.get('MainContact').dirty || addClientForm.get('MainContact').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>                
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Main Designation" formControlName="MainContactDesgn" class="form-control"/>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Main Contact No" formControlName="MainContactNo" class="form-control"/>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Main Email Id" formControlName="MainContactEmailId" class="form-control"/>
            </mat-form-field>
        </td>      
    </tr>
    <tr>
        <td>            
            <mat-form-field>
                <input maxlength="80" required matInput placeholder="Alternate Contact" formControlName="AltContact" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.AltContact">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('AltContact').hasError(validation.type) && (addClientForm.get('AltContact').dirty || addClientForm.get('AltContact').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>                
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Alternate Designation" formControlName="AltContactDesgn" class="form-control"/>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Alternate Contact No" formControlName="AltContactNo" class="form-control"/>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Alternate Email Id" formControlName="AltContactEmailId" class="form-control"/>
            </mat-form-field>
        </td>      
    </tr>
</table>
</div>
<div class="whiteframe" style="width: 93%;">
<h3>Other Details</h3>
<table  style="width:100%">
    <tr>
       <!-- <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Client Status" formControlName="ClientStatus" class="form-control"/>
            </mat-form-field>
        </td>        -->
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput required placeholder="Client Category" formControlName="ClientCategory" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.ClientCategory">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('ClientCategory').hasError(validation.type) && (addClientForm.get('ClientCategory').dirty || addClientForm.get('ClientCategory').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput required placeholder="Client Type" formControlName="ClientType" class="form-control"/>
                <mat-error *ngFor="let validation of validation_messages.ClientType">
                    <mat-error class="error-message" *ngIf="addClientForm.invalid || addClientForm.get('ClientType').hasError(validation.type) && (addClientForm.get('ClientType').dirty || addClientForm.get('ClientType').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>      
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Master Client Id" formControlName="MasterClientID" class="form-control"/>
            </mat-form-field>
        </td>
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Client GL Code" formControlName="ClientGLCode" class="form-control"/>
            </mat-form-field>
        </td>  
    </tr>
    <tr>        
           
       <!-- <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Source" formControlName="Source" class="form-control"/>
            </mat-form-field>
        </td>-->
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Account Manager" formControlName="AccountManager" class="form-control"/>
            </mat-form-field>
        </td>    
        <td>            
            <mat-form-field>
                <input maxlength="80" matInput placeholder="Client" formControlName="Coordinator" class="form-control"/>
            </mat-form-field>
        </td>    
    </tr>
    <tr>
        <td >
            <button type="submit" mat-button cdkFocusInitial>Add Client</button>&nbsp;&nbsp;
            <!-- <button *ngIf="id > 0; else add" type="submit" mat-button cdkFocusInitial>Update Client</button>&nbsp;&nbsp;
            <ng-template #add>
                <button *ngIf="id == 0" type="submit" mat-button cdkFocusInitial>Add Client</button>&nbsp;&nbsp;
              </ng-template>-->
           
              <a [routerLink]="['/req-dashboard/OP']"><button mat-button>Cancel</button></a></td>
    </tr>
</table>
</div>
</form>
