<div style="margin: 0;">
    <div id="snackbar">{{message}}</div>
</div>

<div fxLayout="row" >
   
	<mat-drawer-container style="width: 100%;">
       
		<mat-drawer  #snav class="adminMenu" style="position: relative;"  opened [mode]="'side'">
			<mat-nav-list>
                <ul>
                    <li class="textsize" ><i class="fa fa-users fa-2x" aria-hidden="true"></i><br><a [routerLink]="['/clientreg','0']">Client</a></li>
                    <li class="textsize"><i class="fa fa-industry fa-2x" aria-hidden="true"></i>&nbsp;<a [routerLink]="['/vendorreg','0']"><br>Vendor</a></li>
                    <li class="textsize"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i><br><a [routerLink]="['/user']">User</a></li>
                    <li class="textsize"><i class="fa fa-star fa-2x" aria-hidden="true"></i><br><a [routerLink]="['/role']">Role</a></li>
                    <li class="activeMenu textsize"><i class="fa fa-gavel fa-2x" aria-hidden="true"></i><br><a [routerLink]="['/rule']">Rule</a></li>
                </ul>          			
			</mat-nav-list>
		</mat-drawer>

   <mat-drawer-content style="margin-left:20%">
    <div class="whiteframe" style="width: 93%;float:left;">
        <h3 style="text-align: center;">Rule <span (click)="opendialogaddrule()" style="font-size: 11px;color: #0670c4;text-decoration: underline;cursor:pointer;">+New Rule</span></h3>
        
        <div style="float: left;width: 20%;background: #f4efef;height: 500px;">           
            <!--<h3 class="headerRole">{{userName}}</h3>-->
            <h3 style="margin-left: 10px;">Rule List</h3>
            <ul >
                <li class="rule" *ngFor="let item of RuleList; let i = index" id="ruleList{{i}}"><a style="color:#000000;cursor:pointer;" (click)="viewSingleRuleList(item.DataAccessRuleId,i)">{{item.DataAccessRuleName}}</a></li>
            </ul>
        </div>       
        <div class="clientList">
            <h3 style="margin-left: 10px;">Client List</h3>
                <ul>
                    <li *ngFor="let item of ClientList; let i = index" style="float:left;padding:8px;margin-right: 20px;"> <input type="checkbox" [ngModelOptions]="{standalone: true}" name="clientList{{item.Code}}" [(ngModel)]="item.checked" value="{{item.Code}}" />{{item.Description}}</li>                    
                </ul>
        </div>
    </div>
   </mat-drawer-content>

</mat-drawer-container>
</div>
