<!--<div style="margin: 0;">
    <div id="rulesnackbar">{{message}}</div>
</div>-->

<div fxLayout="row" >
   
	<mat-drawer-container style="width: 100%;">
       
		<mat-drawer  #snav class="adminMenu" style="position: relative;"  opened [mode]="'side'">
			<mat-nav-list>
                <ul>
                    <li class="textsize" *ngIf="functionList.includes('100')"><a [routerLink]="['/clientreg','0']" skipLocationChange=true><i class="fa fa-users fa-2x" aria-hidden="true"></i><br>Client</a></li>
                    <li *ngIf="userCategory == 'E' || userCategory == 'C' && functionList.includes('101')" class="textsize"><a [routerLink]="['/vendorreg','0']" skipLocationChange=true><i class="fa fa-industry fa-2x" aria-hidden="true"></i>&nbsp;<br>Vendor</a></li>
                    <li class="textsize" *ngIf="functionList.includes('102')"><a [routerLink]="['/user']" skipLocationChange=true><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i><br>User</a></li>
                    <li class="textsize" *ngIf="functionList.includes('103')"><a [routerLink]="['/role']" skipLocationChange=true><i class="fa fa-star fa-2x" aria-hidden="true"></i><br>Role</a></li>
                    <li class="activeMenu textsize" *ngIf="functionList.includes('104')"><a [routerLink]="['/rule']" skipLocationChange=true><i class="fa fa-gavel fa-2x" aria-hidden="true"></i><br>Rule</a></li>
                    <li class="textsize" *ngIf="functionList.includes('105')"><a style="cursor:pointer;" (click)="openDialogaddNewCity()"><i class="fas fa-city  fa-2x"></i><br>City</a></li>
                </ul>          			
			</mat-nav-list>
		</mat-drawer>

   <mat-drawer-content style="margin-left:20%">
    <div class="whiteframe" style="width: 93%;float:left;">
        <h3 style="text-align: center;">Rule <span (click)="opendialogaddrule()" style="font-size: 11px;color: #0670c4;text-decoration: underline;cursor:pointer;">+New Rule</span></h3>
        
        <div style="float: left;width: 20%;background: #f4efef;height: 500px;overflow-y: scroll;">           
            <!--<h3 class="headerRole">{{userName}}</h3>-->
            <h3 style="margin-left: 10px;">Rule List</h3>
            <ul>
                <li class="rule" *ngFor="let item of RuleList; let i = index" class="ruleList" id="ruleList{{i}}"><a style="color:#000000;cursor:pointer;" (click)="ClientListByRuleId(item.DataAccessRuleId,i)">{{item.DataAccessRuleName}}</a></li>
            </ul>

            <!--<p *ngIf="RuleList == null" style="margin-left: 5%;">No data Available</p>-->
        </div>       
        <div class="clientList">
            <h3 style="margin-left: 10px;">Client List</h3>
            <ul style="display:inline-block;" class="clientlistbyid">
                <li *ngFor="let item of ClientList; index as i" class="ruleClientList"> <input type="checkbox"
                        name="ClientList{{item.ClientId}}" [(ngModel)]="item.Status"
                        value="{{item.ClientId}}"/>{{item.ClientName}}</li>
            </ul>            
        </div>
        <button mat-button (click)="checkedClientUpdate()" cdkFocusInitial style="margin-left: 24.5%; margin-top: 3%;" >Update</button>
    </div>
   </mat-drawer-content>

</mat-drawer-container>
</div>
