<div class="content whiteframe">
  <h3 style="text-align: center;">Requisitions Dashboard - 
    <select (change)="getReqListsOnChange($event.target.value)">
      <option value="OP">Open</option>
      <option value="DR">Draft</option>
     <!-- <option (Click)="getReqLists();" [value]="OP">Under Approval</option>-->
      <option value="HO">On Hold</option>
      <option value="AR">Archived</option>
    </select> <span > <img id="loader" style="vertical-align: bottom;margin-left: 10px;" src="assets/img/loader.gif"/></span></h3>

    <div style="margin: 0;">
      <div id="snackbar">{{message}}</div>
    </div>
    <a class="newitem" [routerLink]="['/requisitionadd/0']">+New</a>  
      <table #dataTable class="display table table-borderless table-hover"  id="reqList" style="width:100%;">        
        <thead>
            <tr>
                <th>Req Id</th>
                <th>Account Manager</th>
                <th>Client</th>
                <th style="width: 200px;">Job Title</th>
                <th >Priority</th>
                <th style="text-align: center;background-position-x: 33px;width: 83px;"><mat-icon>perm_identity</mat-icon></th>
                <th style="text-align: center;background-position-x: 11px;"><mat-icon>hourglass_empty</mat-icon></th>
                <th style="text-align: center;border-right:1px solid #000000;background-position-x: 33px;width: 83px;"><mat-icon>insert_chart_outlined</mat-icon></th>
                
                <th style="background-image: none;">S</th>
                <th style="background-image: none;">S</th>
                <th style="background-image: none;">A</th>
                <th style="background-image: none;">H</th>
                <th style="background-image: none;">O</th>            
                <th style="background-image: none;">J</th>            
                <th style="background-image: none;">N</th>            
            </tr>       
        </thead>
        <tbody>          
        <tr *ngFor="let item of reqList; let i = index" >  
          <td class="dropdown">
              <a style="text-decoration: underline;color: rgb(72, 72, 236);cursor:pointer;" (click)="actionMethod(i)">{{item.RequistionId}}</a> 
              <ul class="dropdown-menu" id="showmenu{{i}}">
                  <li> <a [routerLink]="['/requisitionadd',item.RequistionId]">Edit Requisition</a></li>
                  <li *ngIf="item.Reqstatus == 'OP'"> <a [routerLink]="['/publish',item.RequistionId]">Publish Requisition</a></li>
                  <li *ngIf="item.Reqstatus == 'OP'"> <a [routerLink]="['/unpublish',item.RequistionId]">Unpublish Requisition</a></li>
                  <li *ngIf="item.Reqstatus == 'OP'"> <a [routerLink]="['/manage',item.RequistionId,'SO']">Manage Candidate</a></li>
                  <li *ngIf="item.Reqstatus == 'OP'"> <a [routerLink]="['/cvupload',item.RequistionId]">Upload CV</a></li>
                  <li *ngIf="item.Reqstatus == 'OP'"> <a [routerLink]="['/clone',item.RequistionId]">Clone Requisition</a></li>
                  <li style="cursor:pointer;" (click)="openDialogViewJd(item.RequistionId)"><a>View JD</a></li>
                </ul>
          </td>     
          <td>{{item.EACManager}}</td>
          <td>{{item.Clientname}}</td>
          <td style="width: 200px;">{{item.ReqTitle}}</td>
          <td class="dropdown" style="padding-left:24px;">
              <a style="color:rgb(190, 32, 32);cursor:pointer;" (click)="priorityMethod(i)">
                <mat-icon id="changeIcon{{i}}" *ngIf="item.Reqpriority == 'H'; else low">arrow_upwards</mat-icon>
                <ng-template #low>
                  <mat-icon id="changeIcon{{i}}" *ngIf="item.Reqpriority == 'L';else nuetral">arrow_downward</mat-icon>
                </ng-template>
                <ng-template #nuetral>
                  <mat-icon id="changeIcon{{i}}" *ngIf="item.Reqpriority == 'N'">more_horiz</mat-icon>
                </ng-template>
              </a> 
              <ul style="margin: -7px 0px 0px 30px;" *ngIf="item.Reqpriority == 'H'; else lowmenu" class="dropdown-menu remove{{item.RequistionId}}" id="showprioritymenu{{i}}">
                  <li style="cursor:pointer;"> <a id="Menu1{{i}}" (click)="updatePriority('L',item.RequistionId,i)">Change to Low</a></li>
                  <li style="cursor:pointer;"> <a id="Menu2{{i}}" (click)="updatePriority('N',item.RequistionId,i)">Change to Neutral</a></li>
              </ul>
              <ng-template #lowmenu>
                <ul style="margin: -7px 0px 0px 30px;" *ngIf="item.Reqpriority == 'L'; else neutralmenu" class="dropdown-menu remove{{item.RequistionId}}" id="showprioritymenu{{i}}">
                  <li style="cursor:pointer;"> <a id="Menu1{{i}}" (click)="updatePriority('H',item.RequistionId,i)">Change to High</a></li>
                  <li style="cursor:pointer;"> <a id="Menu2{{i}}" (click)="updatePriority('N',item.RequistionId,i)">Change to Neutral</a></li>
              </ul>
              </ng-template>
              <ng-template #neutralmenu>
                <ul style="margin: -7px 0px 0px 30px;" *ngIf="item.Reqpriority == 'N'" class="dropdown-menu remove{{item.RequistionId}}" id="showprioritymenu{{i}}">
                  <li style="cursor:pointer;"> <a id="Menu1{{i}}" (click)="updatePriority('H',item.RequistionId,i)">Change to High</a></li>
                  <li style="cursor:pointer;"> <a id="Menu2{{i}}" (click)="updatePriority('L',item.RequistionId,i)">Change to Low</a></li>
              </ul>
              </ng-template>
          </td>   
          <td style="text-align: center;">{{item.Username}}</td>
          <td style="text-align: center;">{{item.Ageing}}d</td>
          <td style="border-right:1px solid #000000;text-align: center;">{{item.Positions}}</td>
          <td><a class="statuscolor" *ngIf="item.totalCount > 0; else noTooltip;" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'SO'] : ['/req-dashboard',item.Reqstatus] "><ejs-tooltip  id='tooltip_1'>
              <ng-template #content>
                  <table>
                    <tr><td style="padding-bottom: 10px;">Sourcing :</td> <td style="padding-bottom: 10px;">{{item.Sourcing}} ({{item.sourcePerc}}%)</td></tr>
                    <tr><td style="border-top:1px dashed #ffffff;padding-top:10px;">Total:</td> <td style="padding-top:10px;text-align: center;"> {{item.totalCount}}</td></tr>
                  </table>
              </ng-template>
              {{item.Sourcing}}
              </ejs-tooltip> </a>
              <ng-template #noTooltip>
                <a class="statuscolor" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'SC'] : ['/req-dashboard',item.Reqstatus]">{{item.Sourcing}}</a>
              </ng-template>  
          </td>

          <td><a class="statuscolor" *ngIf="item.totalCount > 0; else noTooltip;" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'SC'] : ['/req-dashboard',item.Reqstatus] "><ejs-tooltip  id='tooltip_1'>
            <ng-template #content>
                <table>
                  <tr><td style="padding-bottom: 10px;">Screening :</td> <td style="padding-bottom: 10px;">{{item.Screening}} ({{item.screeningPerc}}%)</td></tr>
                  <tr><td style="border-top:1px dashed #ffffff;padding-top:10px;">Total:</td> <td style="padding-top:10px;text-align: center;"> {{item.totalCount}}</td></tr>
                </table>
            </ng-template>
            {{item.Screening}}
            </ejs-tooltip> </a>
            <ng-template #noTooltip>
              <a class="statuscolor" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'SC'] : ['/req-dashboard',item.Reqstatus] ">{{item.Screening}}</a>
            </ng-template>  
          </td>

          <td><a class="statuscolor" (mouseenter) ="getAssessmentCount(item.RequistionId)" *ngIf="item.totalCount > 0; else noTooltip;" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'AS'] : ['/req-dashboard',item.Reqstatus] "><ejs-tooltip  id='tooltip_1'>
            <ng-template #content>
                <table *ngFor="let count of assessmentCount; let i = index">
                  <tr *ngIf="count.AssesmentCount >= 0"><td style="padding-bottom: 10px;">CV Submitted :</td> <td style="padding-bottom: 10px;">{{count.AssesmentCount}} ({{item.assessmentPerc}}%)</td></tr>
                  <tr *ngIf="count.Round1Count > 0"><td style="padding-bottom: 10px;">Round 1 :</td> <td style="padding-bottom: 10px;">{{count.Round1Count}}</td></tr>
                  <tr *ngIf="count.Round2Count > 0"><td style="padding-bottom: 10px;">Round 2 :</td> <td style="padding-bottom: 10px;">{{count.Round2Count}}</td></tr>
                  <tr *ngIf="count.Round3Count > 0"><td style="padding-bottom: 10px;">Round 3 :</td> <td style="padding-bottom: 10px;">{{count.Round3Count}}</td></tr>
                  <tr *ngIf="count.Round4Count > 0"><td style="padding-bottom: 10px;">Round 4 :</td> <td style="padding-bottom: 10px;">{{count.Round4Count}}</td></tr>
                  <tr><td style="border-top:1px dashed #ffffff;padding-top:10px;">Total:</td> <td style="padding-top:10px;text-align: center;"> {{item.totalCount}}</td></tr>
                </table>
            </ng-template>
            {{item.Assessment}}
            </ejs-tooltip> </a>
            
            <ng-template #noTooltip>
              <a class="statuscolor" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'AS'] : ['/req-dashboard',item.Reqstatus] ">{{item.Assessment}}</a>
            </ng-template>  
          </td>
          
          <td><a class="statuscolor" *ngIf="item.totalCount > 0; else noTooltip;" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'HR'] : ['/req-dashboard',item.Reqstatus] "><ejs-tooltip  id='tooltip_1'>
            <ng-template #content>
                <table>
                  <tr><td style="padding-bottom: 10px;">HR Round :</td> <td style="padding-bottom: 10px;">{{item.HRRound}} ({{item.hrPerc}}%)</td></tr>
                  <tr><td style="border-top:1px dashed #ffffff;padding-top:10px;">Total:</td> <td style="padding-top:10px;text-align: center;"> {{item.totalCount}}</td></tr>
                </table>
            </ng-template>
            {{item.HRRound}}
            </ejs-tooltip> </a>
            <ng-template #noTooltip>
              <a class="statuscolor" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'HR'] : ['/req-dashboard',item.Reqstatus] ">{{item.HRRound}}</a>
            </ng-template>  
          </td>

             
          <td><a class="statuscolor" *ngIf="item.totalCount > 0; else noTooltip;" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'OF'] : ['/req-dashboard',item.Reqstatus] "><ejs-tooltip  id='tooltip_1'>
            <ng-template #content>
                <table>
                  <tr><td style="padding-bottom: 10px;">Offered :</td> <td style="padding-bottom: 10px;">{{item.Offered}} ({{item.offeredPerc}}%)</td></tr>
                  <tr><td style="border-top:1px dashed #ffffff;padding-top:10px;">Total:</td> <td style="padding-top:10px;text-align: center;"> {{item.totalCount}}</td></tr>
                </table>
            </ng-template>
            {{item.Offered}}
            </ejs-tooltip> </a>
            <ng-template #noTooltip>
              <a class="statuscolor" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'OF'] : ['/req-dashboard',item.Reqstatus] ">{{item.Offered}}</a>
            </ng-template>  
          </td>

          <td><a class="statuscolor" *ngIf="item.totalCount > 0; else noTooltip;" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'JO'] : ['/req-dashboard',item.Reqstatus] "><ejs-tooltip  id='tooltip_1'>
            <ng-template #content>
                <table>
                  <tr><td style="padding-bottom: 10px;">Joined :</td> <td style="padding-bottom: 10px;">{{item.Joined}} ({{item.joinedPerc}}%)</td></tr>
                  <tr><td style="border-top:1px dashed #ffffff;padding-top:10px;">Total:</td> <td style="padding-top:10px;text-align: center;"> {{item.totalCount}}</td></tr>
                </table>
            </ng-template>
            {{item.Joined}}
            </ejs-tooltip> </a>
            <ng-template #noTooltip>
              <a class="statuscolor" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'JO'] : ['/req-dashboard',item.Reqstatus] ">{{item.Joined}}</a>
            </ng-template>  
          </td>

          <td><a class="statuscolor" *ngIf="item.totalCount > 0; else noTooltip;" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'NH'] : ['/req-dashboard',item.Reqstatus] "><ejs-tooltip  id='tooltip_1'>
            <ng-template #content>
                <table>
                  <tr><td style="padding-bottom: 10px;">NotHired :</td> <td style="padding-bottom: 10px;">{{item.NotHired}} ({{item.nothiredPerc}}%)</td></tr>
                  <tr><td style="border-top:1px dashed #ffffff;padding-top:10px;">Total:</td> <td style="padding-top:10px;text-align: center;"> {{item.totalCount}}</td></tr>
                </table>
            </ng-template>
            {{item.NotHired}}
            </ejs-tooltip> </a>
            <ng-template #noTooltip>
              <a class="statuscolor" [routerLink]="manageRedirect ? ['/manage',item.RequistionId,'NH'] : ['/req-dashboard',item.Reqstatus] ">{{item.NotHired}}</a>
            </ng-template>  
          </td>
        </tr>
        </tbody>
      </table>
</div>
