<div style="margin: 0;">
    <div id="snackbar">{{message}}</div>
</div>
<h3 mat-dialog-title>Download Tracker</h3>
<hr>

<div fxLayout="row" >   
    
	<mat-drawer-container style="width: 100%;">       
		<mat-drawer  #snav class="templatelist" style="position: relative;"  opened [mode]="'side'">
			<mat-nav-list>
                <h3 style="margin: 15px 0 15px 2px;font-weight: 600;">Template Name</h3>
                <hr>                  
                <ul>
                    <li  class="textsize" *ngFor="let item of templateList;let i = index" id="templateList{{i}}"><a style="cursor:pointer" (click)="viewSingleTemplate(item.Template_Id,i)">{{item.Template_Name}}</a></li>                   
                   <!-- <li class="textsize" *ngFor="let item of templateList;let i = index"><a style="color:#000000;" (click)="viewSingleTemplate(item.Template_Id)">{{item.Template_Name}}</a></li>-->
                </ul>          			
			</mat-nav-list>
		</mat-drawer>

   <mat-drawer-content >    
        <div style="float: left;" class="fieldList">
            <h3 style="margin: 15px 0 15px 6px;">Field List</h3>
            <hr>           
            <ul>         
                <li *ngFor="let item of FieldList">
                    <input type="checkbox" [ngModelOptions]="{standalone: true}" name="Fields{{item.Field_Id}}" [(ngModel)]="item.checked" value="{{item.Field_Id}}" />
                    <label for="Fields{{item.Field_Id}}">{{item.Field_Display_Name}}</label>
                </li>                      
            </ul>
        </div>
        <div style="float: left;width: 40%;">    
            <div style="float: left;" class="fieldList">
                <h3 style="margin-left: 5px;">Client List</h3>
                <hr>           
                <ul>         
                    <li *ngFor="let item of StageValueList;let i = index"><input type="checkbox"  name="StageValueList{{item.ApplicationId}}" [checked]="StageValueList[i].checked" [(ngModel)]="StageValueList[i].checked" value="{{item.ApplicationId}}">{{item.Candidate_FN}}</li>
                       <!-- <label for="Fields{{item.RequisitionId}}">{{item.ClientName}}</label>
                        <input type="checkbox" [ngModelOptions]="{standalone: true}" name="Fields{{item.RequisitionId}}" [(ngModel)]="item.checked" value="{{item.Field_Id}}" />
                        <label for="Fields{{item.RequisitionId}}">{{item.ClientName}}</label>
                    </li>  -->                    
                </ul>
            </div>
        </div>
    </mat-drawer-content>    
</mat-drawer-container>
        

</div>

<div style="float: left;width: 60%;">   
    
    <button  type="submit" mat-button cdkFocusInitial  (click)="downloadTracker()">Download</button>&nbsp;&nbsp;
    <button mat-button  (click)="onNoClick()">Cancel</button>
</div>