
<header id="login">
    <!-- Background Image -->
    <div class="bg-img">
        <img class="background" src="assets/img/background.png" alt="logo" width="100%" height="100%">
    </div>
</header>

<div id="snackbar">{{message}}</div>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form example-form" #formDirectisve="ngForm" role="form" autocomplete="off" id="formLogin" novalidate=""
      [formGroup]="loginForm"
    (submit)='validateLoginDetails(loginForm.value)'>
        <mat-form-field class="example-full-width">
          <input matInput maxlength="40" placeholder="Email id | Mobile Number | User id" formControlName="username" required>
          <mat-error *ngFor="let validation of account_validation_messages.username">
            <mat-error class="error-message" *ngIf="loginForm.invalid || loginForm.get('username').hasError(validation.type) && (loginForm.get('username').dirty || loginForm.get('username').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" formControlName="password" required>
          <mat-error *ngFor="let validation of account_validation_messages.password">
            <mat-error class="error-message" *ngIf="loginForm.invalid || loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <div class="button">
          <button type="submit" mat-button>Login</button>      
        </div>
        <p id="loader" style="margin:auto;display:none;text-align: center;"><img class="loading-img" src="assets/img/load.gif" alt="loader">
      </form>
     
    </mat-card-content>
    <p class="no-access" style="text-align: center;color: #0670c4;cursor:pointer;" (click)="callAPI()">Forgot your Password?</p>
  </mat-card>
</div>

<ng-template #callAPIDialog>
  <div class="mat-dialog-header border-bottom">
    <h2 style="cursor: pointer;" mat-dialog-title class="mb-0">Forgot Your Password?</h2>    
  </div>
  
  <p>You can reset your password here.</p>
  <form class="form example-form" #formDirectisve="ngForm" focusInvalidInput role="form" autocomplete="off" id="formLogin" novalidate=""
      [formGroup]="forgotPasswordForm" (submit)='forgotPasswordFormSubmit(forgotPasswordForm.value)'>
      
      <div mat-dialog-content>
        <mat-form-field class="example-full-width">
          <input matInput maxlength="40" placeholder="Email id | Mobile Number | User id" formControlName="UserId" required>
          <mat-error *ngFor="let validation of account_validation_messages.UserId">
            <mat-error class="error-message" *ngIf="forgotPasswordForm.invalid || forgotPasswordForm.get('UserId').hasError(validation.type) && (forgotPasswordForm.get('UserId').dirty || forgotPasswordForm.get('UserId').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>            
    </div>
  <!--  <mat-dialog-content>
      <mat-form-field class="example-full-width">
        <input matInput maxlength="40" placeholder="Email id | Mobile Number | User id" formControlName="UserId" required>
        <mat-error *ngFor="let validation of account_validation_messages.UserId">
          <mat-error class="error-message" *ngIf="forgotPasswordForm.invalid || forgotPasswordForm.get('UserId').hasError(validation.type) && (forgotPasswordForm.get('UserId').dirty || forgotPasswordForm.get('UserId').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>-->
    <mat-dialog-actions class="border-top">
      <button type="button" mat-button matDialogClose>Cancel</button>
      <button type="submit" mat-raised-button color="accent">Send Password</button>
      
    </mat-dialog-actions>
    <p id="Forgotloader" style="display:none;text-align: center;"><img class="loading-img" src="assets/img/load.gif" alt="loader">
  </form>
  <!--<h2 matDialogTitle>Hello dialog!</h2>
  <mat-dialog-actions align="end">
      <button mat-button matDialogClose="no">No</button>
      <button mat-button matDialogClose="yes">Yes</button>
  </mat-dialog-actions>-->
</ng-template>
<!--
<form class="form example-form" focusInvalidInput #formDirectisve="ngForm" role="form" autocomplete="off" id="skillform" novalidate=""
    [formGroup]="addNewSkillForm" (submit)='addNewSkillFormSubmit(addNewSkillForm.value)'>
    
        <div mat-dialog-content>
            <mat-form-field class="example-full-width">
                <input matInput maxlength="40" placeholder="New skill" formControlName="SkillSetTitle" required>
                <mat-error *ngFor="let validation of account_validation_messages.SkillSetTitle">
                  <mat-error class="error-message" *ngIf="addNewSkillForm.invalid || addNewSkillForm.get('SkillSetTitle').hasError(validation.type) && (addNewSkillForm.get('SkillSetTitle').dirty || addNewSkillForm.get('SkillSetTitle').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>            
        </div>
        <div mat-dialog-actions>
            <button mat-button cdkFocusInitial>Add</button>
            <button mat-button  (click)="onNoClick()" matDialogClose>Cancel</button>
        </div>
        <p id="loader" style="display:none;margin-left: -11px;margin-bottom: -22px;"><img class="loading-img" src="assets/img/load.gif" alt="loader">
    </form>-->
<!--<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Email id | Mobile Number | User id" formControlName="username" required>
          <mat-error *ngFor="let validation of account_validation_messages.username">
            <mat-error class="error-message" *ngIf="loginForm.invalid || loginForm.get('username').hasError(validation.type) && (loginForm.get('username').dirty || loginForm.get('username').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>-->