<div style="margin: 0;">
    <div id="Rolesnackbar">{{message}}</div>
</div>

<div class="dialogContent" *ngIf="showRoleForm">
    <div>
        <h3 *ngIf="data.Name != 'add' else title">Update Role</h3>
        <ng-template #title>
            <h3 *ngIf="data.Name == 'add'">Add Role</h3>
        </ng-template> 
    </div>
    <form class="form" role="form" focusInvalidInput autocomplete="off" id="formRole" novalidate=""
    [formGroup]="addRoleForm" (submit)='addRole(addRoleForm.getRawValue())'>
        <div mat-dialog-content>
            <mat-form-field>
                <input placeholder="Role Name" type="text" id="RoleName"  maxlength="80" formControlName="RoleName" class="form-control"  required matInput/>  
                <mat-error *ngFor="let validation of validation_messages.RoleName">
                    <mat-error class="error-message" *ngIf="addRoleForm.invalid || addRoleForm.get('RoleName').hasError(validation.type) && (addRoleForm.get('RoleName').dirty || addRoleForm.get('RoleName').touched)">{{validation.message}}</mat-error>
                </mat-error>              
            </mat-form-field> 
        </div>
        <div mat-dialog-actions>
            <button *ngIf="data.Name != 'add' else add"  type="submit" mat-button cdkFocusInitial>Update</button>           
            <ng-template #add>
                <button *ngIf="data.Name == 'add'"  type="submit" mat-button cdkFocusInitial>Add</button>
            </ng-template>             
            <button mat-button  (click)="onNoClick()">Cancel</button>
        </div>
    </form>
</div>

<div class="dialogContent" *ngIf="showModuleForm">
    <div>
        <h3 *ngIf="data.Name != 'add' else modtitle">Update Module</h3>
        <ng-template #modtitle>
            <h3 *ngIf="data.Name == 'add'">Add Module</h3>
        </ng-template> 
    </div>
    <form class="form" role="form" focusInvalidInput autocomplete="off" id="formModule" novalidate=""
    [formGroup]="addModuleForm" (submit)='addModule(addModuleForm.getRawValue())'>
        <div mat-dialog-content>
            <mat-form-field>
                <input placeholder="Module Name" type="text" id="ModuleName"  maxlength="80" formControlName="ModuleName" class="form-control"  required matInput/>  
                <mat-error *ngFor="let validation of validation_messages.ModuleName">
                    <mat-error class="error-message" *ngIf="addModuleForm.invalid || addModuleForm.get('ModuleName').hasError(validation.type) && (addModuleForm.get('ModuleName').dirty || addModuleForm.get('ModuleName').touched)">{{validation.message}}</mat-error>
                </mat-error>              
            </mat-form-field> 
        </div>
        <div mat-dialog-actions>
            <button *ngIf="data.Name != 'add' else mod"  type="submit" mat-button cdkFocusInitial>Update</button>           
            <ng-template #mod>
                <button *ngIf="data.Name == 'add'"  type="submit" mat-button cdkFocusInitial>Add</button>
            </ng-template>             
            <button mat-button  (click)="onNoClick()">Cancel</button>
        </div>
    </form>
</div>

<div class="dialogContent" *ngIf="showFunctionForm">
    <div>     
        <h3>Add Function</h3>        
    </div>
    <form class="form" role="form" focusInvalidInput autocomplete="off" id="formFunction" novalidate=""
    [formGroup]="addFunctionForm" (submit)='addFunction(addFunctionForm.getRawValue())'>
        <div mat-dialog-content>
            <mat-form-field class="example-full-width">  
                <select matNativeControl required placeholder="Module Name" formControlName="ModuleId"> 
                    <option *ngFor="let item of ModuleList" value="{{item.ModuleId}}" selected>{{item.ModuleName}}</option>                       
                </select> 
                <mat-error *ngFor="let validation of validation_messages.ModuleId">
                    <mat-error class="error-message" *ngIf="addFunctionForm.invalid || addFunctionForm.get('ModuleId').hasError(validation.type) && (addFunctionForm.get('ModuleId').dirty || addFunctionForm.get('ModuleId').touched)">{{validation.message}}</mat-error>
                </mat-error> 
            </mat-form-field>
            <mat-form-field>
                <input placeholder="Function Name" type="text" id="FunctionName"  maxlength="80" formControlName="FunctionName" class="form-control"  required matInput/>  
                <mat-error *ngFor="let validation of validation_messages.FunctionName">
                    <mat-error class="error-message" *ngIf="addFunctionForm.invalid || addFunctionForm.get('FunctionName').hasError(validation.type) && (addFunctionForm.get('FunctionName').dirty || addFunctionForm.get('FunctionName').touched)">{{validation.message}}</mat-error>
                </mat-error>              
            </mat-form-field> 
        </div>
        <div mat-dialog-actions>
            <button mat-button cdkFocusInitial>Add</button>
            <button mat-button  (click)="onNoClick()">Cancel</button>
        </div>
    </form>
</div>

<div class="dialogContent" *ngIf="showSubfunctionForm">
    <div>     
        <h3>Add Subfunction</h3>        
    </div>
    <form class="form" role="form" focusInvalidInput autocomplete="off" id="formSubFunction" novalidate=""
    [formGroup]="addSubFunctionForm" (submit)='addSubFunction(addSubFunctionForm.getRawValue())'>
        <div mat-dialog-content>
            <mat-form-field class="example-full-width">  
                <select matNativeControl required placeholder="Function Name" formControlName="FunctionId"> 
                    <option *ngFor="let item of FunctionList" value="{{item.FunctionId}}" selected>{{item.FunctionName}}</option>                       
                </select> 
                <mat-error *ngFor="let validation of validation_messages.FunctionId">
                    <mat-error class="error-message" *ngIf="addSubFunctionForm.invalid || addSubFunctionForm.get('FunctionId').hasError(validation.type) && (addSubFunctionForm.get('FunctionId').dirty || addSubFunctionForm.get('FunctionId').touched)">{{validation.message}}</mat-error>
                </mat-error> 
            </mat-form-field>
            <mat-form-field>
                <input placeholder="Sub Function Name" type="text" id="SubFunctionName"  maxlength="80" formControlName="SubFunctionName" class="form-control"  required matInput/>  
                <mat-error *ngFor="let validation of validation_messages.SubFunctionName">
                    <mat-error class="error-message" *ngIf="addSubFunctionForm.invalid || addSubFunctionForm.get('SubFunctionName').hasError(validation.type) && (addSubFunctionForm.get('SubFunctionName').dirty || addSubFunctionForm.get('SubFunctionName').touched)">{{validation.message}}</mat-error>
                </mat-error>              
            </mat-form-field> 
        </div>
        <div mat-dialog-actions>
            <button mat-button cdkFocusInitial>Add</button>
            <button mat-button  (click)="onNoClick()">Cancel</button>
        </div>
    </form>
</div>