<div fxLayout="row" >
   
	<mat-drawer-container style="width: 100%;">
       
		<mat-drawer  #snav class="adminMenu" style="position: relative;"  opened [mode]="'side'">
			<mat-nav-list>
                <!--<p class="textsize"><a [routerLink]="['/clientreg','0','0']"><i class="fa fa-users fa-2x" aria-hidden="true"></i><br>Client</a></p>   			
                <p class="textsize"><a [routerLink]="['/vendorreg','0']"><i class="fa fa-industry fa-2x" aria-hidden="true"></i><br>Vendor</a></p>
                <p class="activeMenu textsize"><a [routerLink]="['/user']"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i><br>User</a></p>
                <p class="textsize"><a [routerLink]="['/userreg']"><i class="fa fa-star fa-2x" aria-hidden="true"></i><br>Role</a></p>
                <p class="textsize"><a [routerLink]="['/userreg']"><i class="fa fa-gavel fa-2x" aria-hidden="true"></i><br>Rule</a></p>-->

                <ul style="margin-top:14px;">
                    <li class="textsize"><a [routerLink]="['/clientreg','0']" style="font-size:13px;text-align:center;padding: 3px;"><i class="fa fa-users fa-2x" aria-hidden="true"></i><br>Client</a></li>
                    <li *ngIf="userCategory == 'E' || userCategory == 'C'" class="textsize"><a [routerLink]="['/vendorreg','0']" style="font-size:13px;text-align:center;padding: 3px;"><i class="fa fa-industry fa-2x" aria-hidden="true"></i><br>Vendor</a></li>
                    <li class="activeMenu textsize"><a [routerLink]="['/user']" style="font-size:13px;text-align:center;padding: 3px;"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i><br>User</a></li>
                    <li class="textsize"><a [routerLink]="['/role']" style="font-size:13px;text-align:center;padding: 3px;"><i class="fa fa-star fa-2x" aria-hidden="true"></i><br>Role</a></li>
                    <li class="textsize"><a [routerLink]="['/rule']" style="font-size:13px;text-align:center;padding: 3px;"><i class="fa fa-gavel fa-2x" aria-hidden="true"></i><br>Rule</a></li>
                </ul>   
			</mat-nav-list>
		</mat-drawer>

        <mat-drawer-content style="margin-left:20%">
            <div class="content whiteframe">
                <h3 style="text-align: center;">User Dashboard</h3>
            
                <div style="margin: 0;">
                    <div id="snackbar">{{message}}</div>
                </div>
                <a class="newitem" [routerLink]="['/userreg/0']">+Add User</a>  
                    <table #dataTable  id="userDashboard"  class="display table table-borderless table-hover" style="width:100%;">        
                    <thead>
                        <tr>                  
                            <th>User Id</th>
                            <th>User Category</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Email Id</th>
                            <th>Contact Number</th>                  
                            <th>Roles</th>
                            <th>Rules</th>  
                            <th style="background-image: none;color:transparent">reset</th>      
                        </tr>       
                    </thead>
                    <tbody>          
                        <tr *ngFor="let item of userList; let i = index" >  
                            <td class="dropdown">
                                <a style="text-decoration: underline;color: rgb(72, 72, 236);cursor:pointer;" (click)="actionMethod(i)">{{item.UserId}}</a> 
                                <ul class="dropdown-menu" id="showmenu{{i}}">
                                    <li><a [routerLink]="['/userreg',item.UserId]">Edit User</a></li>
                                </ul>
                            </td>     
                            <td>{{item.UserCategoryName}}</td>
                            <td>{{item.UserName}}</td>
                            <td>{{item.UserStatus}}</td>           
                            <td>{{item.UserStatusDate| date: 'dd-MMM-yyyy'}}</td>
                            <td>{{item.UserEmail}}</td>
                            <td>{{item.UserContactno}}</td>
                            <td>{{item.UserRoles}}</td>
                            <td>{{item.UserDataRule}}</td>    
                            <td>
                                <ejs-tooltip  id='tooltip_1'>
                                    <ng-template #content>
                                        Reset Password
                                    </ng-template>
                                    <a (click)="openDialogResetPassword(item.UserId)"><i style="color: #333;cursor:pointer;" class="fa fa-key" aria-hidden="true"></i></a>
                                </ejs-tooltip>
                            </td>        
                        </tr>
                    </tbody>  
                </table>
            </div>
        </mat-drawer-content>   
    </mat-drawer-container>
</div>    
