<header id="login">
    <!-- Background Image -->
    <div class="bg-img">
        <img class="background" src="assets/img/background.png" alt="logo" width="100%" height="100%">
    </div>
</header>
<div id="snackbar">{{message}}</div>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Forgot your Password?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form example-form" #formDirectisve="ngForm" role="form" autocomplete="off" id="forgotPasswordForm" novalidate=""
      [formGroup]="forgotPasswordForm"
    (submit)='forgotPasswordFormDetails(forgotPasswordForm.value)'>
        <mat-form-field class="example-full-width">
          <input  type="password" matInput maxlength="25" placeholder="Add New Password" formControlName="NewPassword" required>
          <mat-error *ngFor="let validation of account_validation_messages.NewPassword">
            <mat-error class="error-message" *ngIf="forgotPasswordForm.invalid || forgotPasswordForm.get('NewPassword').hasError(validation.type) && (forgotPasswordForm.get('NewPassword').dirty || forgotPasswordForm.get('NewPassword').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Confirm New Password" formControlName="ConfirmNewPassword" required>
          <mat-error *ngFor="let validation of account_validation_messages.ConfirmNewPassword">
            <mat-error class="error-message" *ngIf="forgotPasswordForm.invalid || forgotPasswordForm.get('ConfirmNewPassword').hasError(validation.type) && (forgotPasswordForm.get('ConfirmNewPassword').dirty || forgotPasswordForm.get('ConfirmNewPassword').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <div class="button">
          <button type="submit" mat-button>Submit</button>      
        </div>
        <p id="loader" style="margin:auto;display:none;text-align: center;"><img class="loading-img" src="assets/img/load.gif" alt="loader">
      </form>     
    </mat-card-content>    
  </mat-card>
</div>