<div style="margin: 0;">
    <div id="dialogsnackbar">{{message}}</div>
</div>

    <h3 mat-dialog-title>Create Template</h3>
    <hr>
    <!--<div id="template">
        <form class="form" role="form" focusInvalidInput autocomplete="off" id="TemplateForm" novalidate="" [formGroup]="addTemplateForm" (submit)='addTemplate(addTemplateForm.value)'>
            <div class="templateTitle">
                <ul>
                    <li><a [routerLink]="['/template/0']">Custom Template</a></li>
                    <li *ngFor="let item of templateList"><a style="color:#000000;" [routerLink]="['/template',item.Template_Id]">{{item.Template_Name}}</a></li>                    
                </ul>
            </div>
            <div class="templateFieldlist">
                <h3>Field List</h3>
                <hr>
                <ul>               
                    <li *ngFor="let item of FieldList">
                        <input type="checkbox" [ngModelOptions]="{standalone: true}" name="Fields{{item.Field_Id}}" [(ngModel)]="item.checked" value="{{item.Field_Id}}" />
                        <label for="Fields{{item.Field_Id}}">{{item.Field_Display_Name}}</label>
                    </li>
                </ul>
            </div>
            <div class="templategenerate">
                <mat-form-field>
                    <input placeholder="Template Name" type="text" id="Template_Name"  maxlength="80" formControlName="Template_Name" class="form-control"  required matInput/>  
                    <mat-error *ngFor="let validation of validation_messages.Template_Name">
                        <mat-error class="error-message" *ngIf="addTemplateForm.invalid || addTemplateForm.get('Template_Name').hasError(validation.type) && (addTemplateForm.get('Template_Name').dirty || addTemplateForm.get('Template_Name').touched)">{{validation.message}}</mat-error>
                    </mat-error>              
                </mat-form-field>  
                <button *ngIf="id == 0" type="submit" mat-button cdkFocusInitial>Create Template</button>&nbsp;&nbsp;  
            </div>
        </form>
    </div>
</div>-->

<form class="form" role="form" focusInvalidInput autocomplete="off" id="TemplateForm" novalidate="" [formGroup]="addTemplateForm" (submit)='addTemplate(addTemplateForm.value)'>
<div fxLayout="row" >   
    
	<mat-drawer-container style="width: 100%;">       
		<mat-drawer  #snav class="templatelist" style="position: relative;"  opened [mode]="'side'">
			<mat-nav-list>
                <div style="position: fixed;margin-top: -58px;background: white;">
                    <h3 style="margin: 15px 0 15px 2px;font-weight: 600;width: 151px;">Template Name</h3>
                    <hr>      
                </div>            
                <ul id="template" style="margin-top:56px;">
                    <li class="textsize selected" id="customtemplate"><a style="cursor:pointer" (click)="viewcustomTemplateDetails()">Custom Template</a></li>
                    <li  class="textsize" *ngFor="let item of templateList;let i = index" id="templateList{{i}}"><a style="cursor:pointer" (click)="viewSingleTemplate(item.Template_Id,i)">{{item.Template_Name}}</a></li>                    
                </ul>          			
			</mat-nav-list>
		</mat-drawer>

   <mat-drawer-content >    
        <div style="float: left;" class="fieldList">
            <div style="position: fixed;background: #f4efef;width: 21%;">
                <h3 style="margin: 15px 0 15px 6px;">Field List</h3>
                <hr>         
            </div>  
            <ul style="margin-top:52px;">         
                <li *ngFor="let item of FieldList">
                    <input type="checkbox" disabled="{{disable}}" [ngModelOptions]="{standalone: true}" name="Fields{{item.Field_Id}}" [(ngModel)]="item.checked" value="{{item.Field_Id}}" />
                    <label for="Fields{{item.Field_Id}}">{{item.Field_Display_Name}}</label>
                </li>                      
            </ul>
        </div>
    </mat-drawer-content>    
</mat-drawer-container>
        

</div>
<div style="float: left;width: 60%;">    
    <mat-form-field>
        <input placeholder="Template Name" type="text" id="Template_Name"  maxlength="80" formControlName="Template_Name" class="form-control"  required matInput/>  
        <mat-error *ngFor="let validation of validation_messages.Template_Name">
            <mat-error class="error-message" *ngIf="addTemplateForm.invalid || addTemplateForm.get('Template_Name').hasError(validation.type) && (addTemplateForm.get('Template_Name').dirty || addTemplateForm.get('Template_Name').touched)">{{validation.message}}</mat-error>
        </mat-error>              
    </mat-form-field>  
    <button  type="submit" id="createTemplate" mat-button cdkFocusInitial>Create Template</button>&nbsp;&nbsp;
    <span  (click)="onNoClick()" matDialogClose class="cancelbutton">Cancel</span>
</div>

</form>
