
<div fxLayout="row" >
   
	<mat-drawer-container style="width: 100%;">
       
		<mat-drawer  #snav class="sideNav" style="position: relative;"  opened [mode]="'side'">
			<mat-nav-list>
         <ul>
             <li *ngIf="showMenu"><a [routerLink]="['/position',id]"  skipLocationChange=true>Position</a></li>				
             <li><a [routerLink]="['/reqcvlog',id]"  skipLocationChange=true>Req Status Logs</a></li>
          </ul>				
			</mat-nav-list>
		</mat-drawer>

        <mat-drawer-content style="margin-left:20%">
            <div class="content whiteframe" >
                <p> <b>Req Status Logs:</b> #<a style="color: #0670c4;" [routerLink]="['/requisitionadd',id]"  skipLocationChange=true> {{id}} - {{reqTitle}}</a><span style="float:right"><a style="color: #000000;" [routerLink]="['/requisitionadd',id]" skipLocationChange=true><i class="material-icons" style="border: 1px solid;border-radius: 50%;margin: -4px 11px;">
                    chevron_left
                  </i></a></span> </p>
                 <div style="height:141px;" *ngFor="let item of reqCvLogs">    
                     <div style="float:left"> 
                         <div class="circleGray"><i class="fa fa-check fa-2x checkmark" aria-hidden="true"></i></div>
                         <div class="line"></div>
                     </div>
                         <div class="rect">        
                         <label>
                         Status: {{item.ReqStatusString}},  Date: {{item.ReqStatusDate| date: 'dd-MMM-yyyy'}},  Remarks: {{item.ReqStatusRemarks}}
                         </label>
                     </div>             
                 </div>     
             </div>
		</mat-drawer-content>
	</mat-drawer-container>
</div>
