<mat-card *ngIf="!show">
    <div *ngFor="let item of requisitionDetails; let i = index">
        <h3>{{item.Reqtitle}}</h3>
        <p>ID: {{item.RequisitionId}} | Exp: {{item.MinExperience}} - {{item.MaxExperience}} | Loc: {{item.EmpLocation}} </p>
        <hr>
        <h3 style="text-decoration:underline">Job Description</h3>
        <!-- <div id="description">{{item.JobDescription}}</div> -->
        <div id="descriptionshow" [innerHtml]="item.JobDescription"></div>
    </div>
    <a [routerLink]="['/cvuploadvats/',id,vendorId]" skipLocationChange=true><button mat-button>Submit</button></a>
</mat-card>

<mat-card style="padding: 40px 20px 250px 25px;font-size: 14px;font-weight: 600;" *ngIf="show">
    <div style="margin-bottom:50px;">{{message}}</div>
    <button mat-button cdkFocusInitial (click)="close();">Close</button>
</mat-card>
