<h3 style="border-bottom: 1px dotted;padding-bottom: 12px;"><i class="fas fa-newspaper"></i> Publish<span style="font-size: 13px;font-weight: normal;color: #0670c4 !important;float: right;text-decoration: underline;cursor:pointer;"><table style="padding:0px !important;"><tr style="padding:0px !important;"><td style="padding-top: 0px;padding-right: 20px;" (click)="openDialogpublish();">Primary Source</td><td>Staffing Partner</td></tr></table></span></h3>
<div class="box-set" style="margin-left:60px;">
    <!--<h3 mat-dialog-title>Publish<span style="font-size: 13px;font-weight: normal;color: #0670c4 !important;float: right;text-decoration: underline;cursor:pointer;"><table style="padding:0px !important;"><tr style="padding:0px !important;"><td style="padding:0px !important;" (click)="openDialogpublish();">Primary Source</td><td>Staffing Partner</td></tr></table></span></h3>-->
   
    <figure class="box" *ngFor="let item of publishChildlist;index as i">
        <h3 style="margin-left:7px;">{{item.SourceName}}</h3>
        <hr>  
            <ul style="background: none;margin-left:7px;">
                <li *ngFor="let list of item['ChildGroupList'];index as j" class="dropdown" style="line-height:25px;">
                    <span style="color: rgb(72, 72, 236);cursor:pointer;" (click)="actionMethod(list.ResourceId)">{{list.ResourceName}} <i class="fas fa-caret-square-down"></i></span>
                    <ul class="dropdown-menu" id="option{{list.ResourceId}}">
                        <li *ngFor="let option of list['optionGroupList']">
                            <a style="cursor:pointer;" >{{option.OptionsName}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        <!--<ul class="dropdown-menu">
            <li *ngFor="let list of item['ChildGroupList']">
                {{list.ResourceName}
            </li>
            <a (click)="showLinkedInMenu()">LinkedIn <i class="fas fa-caret-square-down"></i></a>
                <ul class="dropdown-menu" id="showmenulinkedin">
                    <li> <a (click)="closeMenu()" href="{{linkedInPostUrl}}" target="_blank"><i class="fas fa-pencil-alt"></i> Post Manually</a></li>
                    <li> <a (click)="postJobInLinkedIn()" href><i class="fas fa-bullhorn"></i> Post <span *ngIf="showLinkedInLoader"><img id="loader" style="vertical-align: bottom;margin-left: 10px; width: 20px;" src="assets/img/loader2.gif"/></span></a></li>
                    <li> <a (click)="closeMenu()" ngxClipboard (cbOnSuccess)="copied($event)" [cbContent]="requisitionPublishUrl"><i class="far fa-copy"></i> Copy</a></li>
                </ul>
        </ul>-->
        
    </figure>
    
  </div>
