<div style="margin: 0;">
    <div id="publishsnackbar">{{message1}}</div>
</div>
<h3><i class="fas fa-newspaper"></i> Publish  <span style="float:right;cursor:pointer;"><mat-icon (click)="onNoClick()">clear</mat-icon></span></h3>
<h4 style="border-bottom: 1px dotted;padding-bottom: 12px;">ReqId - #{{data.ReqId}} - <div  class="tiTleellipes"><ejs-tooltip  id='tooltip_1' >
    <ng-template #content>
        <table>
          <tr><td >{{data.reqTitle}}</td></tr>                
        </table>

    </ng-template>
    {{data.reqTitle}}
  </ejs-tooltip></div>
  <span
    style="font-size: 13px;font-weight: normal;color: #0670c4 !important;float: right;text-decoration: underline;cursor:pointer;">
    <table style="padding:0px !important;">
        <tr style="padding:0px !important;">
            <td style="padding-top: 0px;padding-right: 20px;" (click)="openDialogPublish(data.ReqId,data.reqTitle)">Primary Source</td>
            <td style="font-weight: bold;">Staffing Partner</td>
        </tr>
    </table>
</span></h4>

<!--<h3 style="border-bottom: 1px dotted;padding-bottom: 12px;"><i class="fas fa-newspaper"></i> Publish Requisition</h3>-->
<div class="box-set" *ngIf = "allVendorList">
    
    <!--<table class="publishTableOne">
        <tr><th>Category</th><th>Select Sources and Publish!</th></tr>
        <tr><td>Default</td><td><input disabled type="checkbox">Direct Upload</td></tr>
        <tr><td>Career</td><td><input disabled type="checkbox">Careers Page</td></tr>
        <tr style="height: 84px;"><td>CV Portals</td><td><input disabled type="checkbox">Indeed<input disabled type="checkbox">Naukri</td></tr>
    </table>-->
    <!--<figure class="box">
        <ul class="medical_dictionary">
           
            <li style="float:left;display: list-item;" class=" related-item media-item" *ngFor="let item of allvendorBronze; let i = index"><input disabled="{{item.P_Status == 'P'}}" type="checkbox" class="Bronze" [(ngModel)]="allvendorBronze[i].checked"><strong>{{item.VendorName}}</strong></li>
             <!--<li *ngFor="let item of allvendorBronze; let i = index"><strong>{{item.VendorName}}</strong></li>
            <li style="float:left;display: list-item;" class=" related-item media-item" *ngFor="let item of allvendorBronze; let i = index"><input disabled="{{item.P_Status == 'P'}}" type="checkbox" class="Bronze" [(ngModel)]="allvendorBronze[i].checked"><strong>{{item.VendorName}}</strong></li>
         </ul>
    </figure>-->
    <!-- <ul class="alphabet">
        <li><a>A</a></li>
        <li><a>B</a></li>
        <li><a>C</a></li>        
        <li><a>D</a></li>
        <li><a>E</a></li>
        <li><a>F</a></li>
        <li><a>G</a></li>
        <li><a>H</a></li>
        <li><a>I</a></li>       
        <li><a>J</a></li>
        <li><a>K</a></li>
        <li><a>L</a></li>
        <li><a>M</a></li>
        <li><a>N</a></li>
        <li><a>O</a></li>      
        <li><a>P</a></li>
        <li><a>Q</a></li>
        <li><a>R</a></li>
        <li><a>S</a></li>        
        <li><a>T</a></li>
        <li><a>U</a></li>      
        <li><a>V</a></li>
        <li><a>W</a></li>
        <li><a>Y</a></li>
        <li><a>Z</a></li>
      </ul>-->

    <!--<span style="clear:both; display:block;"></span>
      
      <ul class="medical_dictionary">
        <li style="float:left;display: list-item;" class=" related-item media-item" *ngFor="let item of allvendorBronze; let i = index"><input disabled="{{item.P_Status == 'P'}}" type="checkbox" class="Bronze" [(ngModel)]="allvendorBronze[i].checked"><strong>{{item.VendorName}}</strong></li>
         <!--<li *ngFor="let item of allvendorBronze; let i = index"><strong>{{item.VendorName}}</strong></li>
        <li style="float:left;display: list-item;" class=" related-item media-item" *ngFor="let item of allvendorBronze; let i = index"><input disabled="{{item.P_Status == 'P'}}" type="checkbox" class="Bronze" [(ngModel)]="allvendorBronze[i].checked"><strong>{{item.VendorName}}</strong></li>
      
     </ul>-->

    <table class="publishTableOne Tabletwo" style="width:1000px;">
        <tr>
            <th>Staffing Partners</th>
        </tr>
        <tr>
            <td>
                <ul class="ul-category">
                    <li style="float:left;"><input type="checkbox" [(ngModel)]="selectedAll"
                            (change)="changeCategory('All',selectedAll)" id="selAll">All</li>
                    <li style="float:left;"><input type="checkbox" [(ngModel)]="selectedBronze"
                            (change)="changeCategory('Bronze',selectedBronze)" id="BronzeAll">Bronze</li>
                    <li style="float:left;"><input type="checkbox" [(ngModel)]="selectedSilver"
                            (change)="changeCategory('Silver',selectedSilver)" id="SilverAll">Silver</li>
                    <li style="float:left;"><input type="checkbox" [(ngModel)]="selectedGold"
                            (change)="changeCategory('Gold',selectedGold)" id="GoldAll">Gold</li>
                    <li style="float:left;"><input type="checkbox" [(ngModel)]="selectedPlatinum"
                            (change)="changeCategory('Platinum',selectedPlatinum)" id="PlatinumAll">Platinum</li>
                </ul>
                <div style="float: right;">
                    <span><a (click)="addPublish();">Publish</a></span> &nbsp;&nbsp;<span><a
                            (click)="unPublish();" *ngIf="data.publishStatus == 'P'">UnPublish All</a></span> &nbsp;&nbsp;<span style="vertical-align: middle;">                       
                    </span> 
                </div>
                <!--  <span></span><input type="checkbox" (click)="checkallBronzevendor();" id="BronzeAll">All<span><input type="checkbox" (click)="checkallBronzevendor();" id="BronzeAll">Bronze</span> <span><input type="checkbox" (click)="checkallSilvervendor();" id="SilverAll">Silver</span><span><input type="checkbox" (click)="checkallGoldvendor();" id="GoldAll">Gold</span><span><input type="checkbox" (click)="checkallPlatinumvendor();" id="PlatinumAll">Platinum</span> -->
            </td>
        </tr>
      
        <!--<tr><th><input type="checkbox" (click)="checkallBronzevendor();" id="BronzeAll"> All</th><th></th></tr>-->
        <tr style="vertical-align: top;">
            <td>
                
                <h3>Bronze <mat-form-field style="margin-top: -18px;font-size: small;float: right;">
                    <mat-icon matSuffix class="searchIcon">search</mat-icon>
                    <input matInput type="search" placeholder="Search Vendor" [(ngModel)]="searchText" class="search-input">
                </mat-form-field>
                
                </h3>
                <ul style="display:inline-block;">
                    <li *ngFor="let item of allvendorBronze| filterpublish:searchText ; index as i"> <input type="checkbox"
                            name="allvendorBronze{{item.VendorId}}" [(ngModel)]="item.P_Status"
                            value="{{item.VendorId}}" (change)="changeItem('Bronze')" />{{item.VendorName}}</li>
                </ul>

                <!--<li style="float:left;display: list-item;" class=" related-item media-item" *ngFor="let item of allvendorBronze; let i = index"><input disabled="{{item.P_Status == 'P'}}" type="checkbox" class="Bronze" [(ngModel)]="allvendorBronze[i].checked">{{item.VendorName}}</li>-->

            </td>
        </tr>
        <tr style="height:auto;">
            <td>
                <h3>Silver
                    <!--<mat-form-field style="margin:10px;">
                        <mat-icon matSuffix class="searchIcon">search</mat-icon>
                        <input matInput type="search" placeholder="Silver Vendor" [(ngModel)]="searchText" class="search-input">
                    </mat-form-field>-->
                </h3>
                <ul>
                    <li *ngFor="let item of allvendorSilver| filterpublish:searchText ; index as i"> <input type="checkbox"
                            name="allvendorSilver{{item.VendorId}}" [(ngModel)]="item.P_Status"
                            value="{{item.VendorId}}" (change)="changeItem('Silver')"/>{{item.VendorName}}</li>
                </ul>
            </td>
        </tr>
        <tr style=" height:auto;">
            <td>
                <h3>Gold
                   <!-- <mat-form-field style="margin:10px;">
                        <mat-icon matSuffix class="searchIcon">search</mat-icon>
                        <input matInput type="search" placeholder="Gold Vendor" [(ngModel)]="searchText" class="search-input">
                    </mat-form-field>-->
                </h3>
                <ul>
                    <li *ngFor="let item of allvendorGold| filterpublish:searchText ; index as i"> <input type="checkbox"
                            name="allvendorGold{{item.VendorId}}" [(ngModel)]="item.P_Status" value="{{item.VendorId}}"
                            (change)="changeItem('Gold')"/>{{item.VendorName}}</li>
                </ul>
            </td>
        </tr>
        <tr style=" height:auto;">
            <td>
                <h3>Platinum
                    <!--<mat-form-field style="margin:10px;">
                        <mat-icon matSuffix class="searchIcon">search</mat-icon>
                        <input matInput type="search" placeholder="Platinum Vendor" [(ngModel)]="searchText" class="search-input">
                    </mat-form-field>-->
                </h3>
                <ul>
                    <li *ngFor="let item of allvendorPlatinum| filterpublish:searchText ; index as i"> <input type="checkbox"
                            name="allvendorPlatinum{{item.VendorId}}" [(ngModel)]="item.P_Status"
                            value="{{item.VendorId}}" (change)="changeItem('Platinum')"/>{{item.VendorName}}</li>
                </ul>
            </td>
        </tr>
    </table>