ul{
    list-style: none;
    margin-left: -43px;
}
li{
    padding: 7px;
    float:left;
}
.mat-form-field{
    width: 90% !important;
}
.mat-button, .mat-raised-button{
    background-color:#0670c4;
    color:#ffffff;
}
.dateellipes{   
    white-space: nowrap; 
    width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    display:inline-block;
    padding-top: 7px;
  }

 
  #primary li{
    padding:7px;
    float:none;
  }
  #primary ul{
    padding: 0;
    list-style: none;
    width: 50%;
    height: 215px;   
  }

  .example-small-box, .example-large-box {
    /* display: flex;*/
     align-items: center;
     justify-content: center;
     margin: 16px;
     padding: 16px;
     border-radius: 8px;
     background-color: #ffffff;
   }
  