
<mat-card>
    <p style="font-weight:500">Screening Questions:</p>
    <table style="margin-left:1%;" *ngIf="quesArray != ''">
        <tr style="background: #e5e2e285;text-align: center;">
            <td style="padding: 10px;width: 50px;font-weight:500">#</td>
            <td style="padding: 10px;width: 50px;font-weight:500">Q.No</td>
            <td style="padding: 10px;width: 150px;font-weight:500">A M I</td>
            <td style="padding: 10px;width: 110px;font-weight:500">Type</td>
            <td style="padding: 10px;width: 250px;font-weight:500">Question</td>
            <td style="padding: 10px;width: 300px;font-weight:500">Answer options</td>
            
        </tr>       
        <tr class="up" *ngFor="let item of quesArray; let i = index;">    
            <td style="text-align: center;" ><i class="fa fa-arrow-circle-up" (click)="moveUp(item,i)"></i>&nbsp;&nbsp;&nbsp;<i (click)="deleteQuestionbyRow(i,i+1)" class="fa fa-trash"></i></td>        
            <td style="text-align: center;">{{item.QuesId}}</td>
            <td style="text-align: center;font-weight:500;color:#0670c4;">
                <input type="checkbox" name="applicant" [(ngModel)]="quesArray[i].Applicant"> A&nbsp;&nbsp; <input type="checkbox" name="mandatory" [(ngModel)]="quesArray[i].mandatory"> M&nbsp;&nbsp; <input type="checkbox" name="interview" [(ngModel)]="quesArray[i].Interviewer"> I</td>
            <td>{{item.QnType}}</td>
            <td>{{item.Question}}</td>
            <td>{{item.Content}}</td>           
        </tr>
    </table>
    <br>
 
    <form class="form" role="form" focusInvalidInput autocomplete="off" id="formquestion" novalidate=""
[formGroup]="prequestionForm" (submit)='addQuestion(prequestionForm.value)'>
    <mat-form-field style="width: 35%;margin-left:1%;">
        <input matInput formControlName="Question" required  id="Questions" placeholder="Question">
        <mat-error *ngFor="let validation of validation_messages.Question">
            <mat-error class="error-message" *ngIf="prequestionForm.invalid || prequestionForm.get('Question').hasError(validation.type) && (prequestionForm.get('Question').dirty || prequestionForm.get('Question').touched)">{{validation.message}}</mat-error>
        </mat-error> 
    </mat-form-field>
    <mat-form-field style="width: 20%;margin-left:2%;">
        <select formControlName="QnType" id="questiontype" (change)="questionType($event.target.value)" matNativeControl required placeholder="Question Type">                                  
            <option value="text">Text</option>                       
            <option value="radio">Radio</option>                       
            <option value="checkbox">Checkbox</option>                       
        </select>         
        <mat-error *ngFor="let validation of validation_messages.QnType">
            <mat-error class="error-message" *ngIf="prequestionForm.invalid || prequestionForm.get('QnType').hasError(validation.type) && (prequestionForm.get('QnType').dirty || prequestionForm.get('QnType').touched)">{{validation.message}}</mat-error>
        </mat-error> 
    </mat-form-field>
    <mat-form-field style="width: 20%;margin-left:2%;display: none;" id="displayOption">
        <input formControlName="Content" matInput id="options" placeholder="Content">
        <mat-error *ngFor="let validation of validation_messages.Content">
            <mat-error class="error-message" *ngIf="prequestionForm.invalid || prequestionForm.get('Content').hasError(validation.type) && (prequestionForm.get('Content').dirty || prequestionForm.get('Content').touched)">{{validation.message}}</mat-error>
        </mat-error> 
    </mat-form-field>
  
    <button mat-button style="margin-left:2%;" cdkFocusInitial>Add Question</button>

  </form>
  <button mat-button style="margin-left:1%;" cdkFocusInitial (click)="addQuestionDetails()">Save</button>
</mat-card>