<div class="dialogContent">
    <div style="border-bottom: 1px dotted;">
        <mat-icon style="float: left;margin-top: 7px;">brush</mat-icon>
        <h1 style="margin-left: 30px;" mat-dialog-title>Competencies</h1>
        <p class="addcompetencycolor">Add Competency</p>
        <mat-form-field style="float: right;margin-top: -52px;">
            <mat-icon matSuffix class="searchIcon">search</mat-icon>
            <input matInput type="search" placeholder="Search Competency" [(ngModel)]="term" class="search-input">
        </mat-form-field>
    </div>
    <div mat-dialog-content class="contentCompetency">
        <p *ngIf="!competencies">loading competency, please wait a second...</p>
        <div *ngFor = "let item of competencies | filter:term ; index as i">
            <input type="checkbox" name="competencies{{item.Code}}" [checked]="competencies[i].checked" [(ngModel)]="competencies[i].checked" value="{{item.Code}}" /> 
            <label for="competencies{{item.Code}}">{{item.Description}}</label>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="sendCheckedcompetency()" cdkFocusInitial>Add</button>
        <button mat-button  (click)="onNoClick()">Cancel</button>
    </div>
</div>